<div class="filter-box fixed-bottom">
  <div class="main-container padding-top">
    <div class="row">
      <div class="col-6 text-center offset-3">
        <p class="filter-text">Filter Search</p>
      </div>
    </div>
    <div class="row padding-top">
      <p class="filter-text">Rate</p>
    </div>
    <div class="row">
      <div class="col option option-text selected-filter-option">5</div>
      <div class="col option option-text">4</div>
      <div class="col option option-text">3</div>
      <div class="col option option-text">2</div>
      <div class="col option option-text">1</div>
    </div>
    <div class="row padding-top">
      <p class="filter-text">Category</p>
    </div>
    <div class="row">
      <div class="col option option-text selected-filter-option">Indian</div>
      <div class="col option option-text">Spanish</div>
      <div class="col option option-text">Chinese</div>
      <div class="col option option-text">Lunch</div>
      <div class="col option option-text">Breakfast</div>
    </div>
    <div class="row justify-content-center">
            <button class="button-medium small-margin-top col-6">Filter</button>
    </div>
  </div>
</div>
