<div class="filter-box fixed-bottom">
  <div class="main-container padding-top">
    <div class="row">
      <div class="col-6 text-center offset-3">
        <p class="filter-text">Filter Search</p>
      </div>
    </div>
    <div class="row padding-top">
      <p class="filter-text">Rate</p>
    </div>
    <div class="row" (click)="handleOptionClick('rating', $event)">
      <div class="col option option-text" [class.selected-filter-option]="filterOptions.category === 'All'">
        All</div>
      <ng-container *ngFor="let option of ratingOptions">
        <div class="col option option-text" [ngClass]="{'selected-filter-option':filterOptions.rating == option}">
          {{ option }}</div>
      </ng-container>
    </div>
    <div class="row padding-top">
      <p class="filter-text">Category</p>
    </div>
    <div class="row" (click)="handleOptionClick('category', $event)">
      <div class="col option option-text" [class.selected-filter-option]="filterOptions.category === 'All'">
        All</div>
      <ng-container *ngFor="let option of categoryOptions">
        <div class="col option option-text" [class.selected-filter-option]="filterOptions.category === option">
          {{ option }}</div>
      </ng-container>
    </div>
    <div class="row justify-content-center">
      <button (click)="sendFilterOptions()" class="button-medium small-margin-top col-6">Filter</button>
    </div>
    
  </div>
  
</div>