.filter-box {
  background-color: #fff;
  border-radius: 50px 50px 0px 0px;
  height: 50%;
}
.option {
  padding: 5px 15px ;
  align-items: center;
  margin-top: 10px;
  margin-left: 5px;
  text-align: center;
  //max-width: 30%;
  border-radius: 10px;
  border: 1px solid var(--colour-styles-primary-colour-primary-80, #71b1a1);
  background: var(--colour-styles-neutral-colour-white, #fff);
}
.option-text {
  color: var(--colour-styles-primary-colour-primary-80, #71b1a1);
  /* Text Style/Smaller Text/Regular */
  font-family: Poppins;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.option:hover{
    background: var(--colour-styles-primary-colour-primary-100, #129575);
    color:white;
}
.selected-filter-option{
    background: var(--colour-styles-primary-colour-primary-100, #129575);
    color:white;
}
p{
    margin: 0px;
}
.rating-wrapper{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}
.filter-text{

  padding-left: 0px ;
}