<div *ngIf="user" (click)="openProfile(user.email)" class="wrapper small-margin-top">
    <div class="photo-name">
        <img [src]="user.photo" alt="">
        <span class="full-name">{{user.firstName}} {{user.lastName}}</span>
    </div>
    <ng-container *ngIf="!isCurrentUser">
        <button *ngIf="!user.isFollowing" (click)="followOperation('follow',$event)" class="follow">Follow</button>
        <button *ngIf="user.isFollowing" (click)="followOperation('unfollow',$event)" class="unfollow">Unfollow</button>
    </ng-container>
    
</div>