
.title {
  padding-top: 90px;
}


.margin-between{
    margin-bottom: 30px;
}

.sign-up-text{
    color: var(--colour-styles-neutral-colour-black, #000);

    /* Text Style/Smaller Text/Semi Bold */
    font-family: Poppins;
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;    
    
}
