<div class="main-container">
  <div class="title">
    <p class="bold-title-font">Hello,</p>
    <p class="regular-title-font">Welcome Back!</p>
  </div>
  <form [formGroup]="loginForm" class="login-inputs">
    <div class="input margin-between">
      <label  for="email">Email</label>
      <div class="row">
        <input  id="email" class="input-form col-12" type="text" placeholder="Email"  formControlName="email" />
      </div>
      
    </div>
    <div class="input">
      <label for="password">Password</label>
      <div class="row">
      <input
        id="password"
        class="input-form"
        type="password"
        placeholder="Password"
        class="col-12"
        formControlName="password"
      />
    </div>
    </div>
    <div class="link">
      <a href="">Forgot password?</a>
    </div>

    <div class="row">
    <button (click)="handleLogin()" class="button-auth col-12">Sign in
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
          </svg>
    </button>
    </div>
  </form> 
  <app-sign-in-alternative></app-sign-in-alternative>
  <div class="row sign-up py-2">
    <div class="col-6 offset-1 sign-up-text text-end">Don't have an account?</div>
    <a  class="col-3 text-start" href="">Sign Up </a>
  </div>
  
</div>
