<div class="dish" (click)="redirect(dish.id)">
    <div class="top-overlay">
        <div class="background">
            <span class="rating-color center-svg">
                <mat-icon svgIcon="rating"></mat-icon>
            </span>
            <span class="rating-text">
                {{ dish.rating }}
            </span>
        </div>
    </div>
    <img [src]="dish.photo"
        alt="" />
    <div [ngClass]="{'flex-end':!showTitle}" class="info-overlay">
        <ng-container *ngIf="showTitle">
            <span class="title">{{ dish.title }}</span>
        </ng-container>
        
        <div class="time-save-overlay">
            <span class="time">
                <mat-icon svgIcon="clock"></mat-icon>
            </span>
            <span class="time">{{ dish.cookTime }}</span>
            <div (click)="saveOperation($event)" class="circle">
                <mat-icon *ngIf="!dish.isSaved" class="highlight-color">bookmark_border</mat-icon>
                <mat-icon *ngIf="dish.isSaved" class="highlight-color">bookmark</mat-icon>
            </div>
        </div>
    </div>
</div>