<div class="dish">
    <div class="top-overlay">
        <div class="background">
            <span class="rating-color center-svg">
                <mat-icon svgIcon="rating"></mat-icon>
            </span>
            <span class="rating-text">
                {{ dish.rating }}
            </span>
        </div>
    </div>
    <img src="https://images.pexels.com/photos/4393021/pexels-photo-4393021.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        alt="" />
    <div [ngClass]="{'flex-end':!showTitle}" class="info-overlay">
        <ng-container *ngIf="showTitle">
            <span class="title">{{ dish.title }}</span>
        </ng-container>
        
        <div class="time-save-overlay">
            <span class="time">
                <mat-icon svgIcon="clock"></mat-icon>
            </span>
            <span class="time">{{ dish.cookTime }}</span>
            <div class="circle">
                <mat-icon svgIcon="saved" class="highlight-color"></mat-icon>
            </div>
        </div>
    </div>
</div>