.header-navigation{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.center-title{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

}
.header-navigation mat-icon{
    transform: scale(1.1);
}
.bold-medium-font {
    line-height: normal;
    margin: 0;
  }
  mat-icon{
    transform: scale(0.8);
  }