p{
    padding-left: 0px;
}
.header-navigation{
    display:flex;
    flex-direction: row;
}
.center-title{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-navigation mat-icon{
    transform: scale(1.1);
}