.wrapper-dishes {
  width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
}
.carousel-inner {
  display: flex;
  padding:0px;
}
.carousel-control-prev{
  width: 6vh;
  height: 6vh;
  border-radius: 50%;
  top: 50%;
  left:-10px;
  transform: translateY(-50%);
}
.carousel-control-next {
  
  width: 6vh;
  height: 6vh;
  border-radius: 50%;
  top: 50%;
  right:-15px;
  transform: translateY(-50%);
}