.wrapper-dishes {
  width: 100%;
	display: flex;
}

// .owl-carousel .owl-stage{display: flex;}
// .article-items {
//     display: flex;
//     flex: 1 0 auto;
//     height: 100%;
// }
// .aticle-box {
//     position: relative;
//     overflow: hidden;
//     /* margin-bottom: 80px; *//*This is optional*/
//     display: flex;
//     flex-direction: column;
//     align-items: stretch;
// }
.owl-carousel .owl-stage {
  display: flex;
}

.owl-carousel .owl-item  {
  width: auto;
  height: 100%;
}