.img-container {
    height: 26.77376171352075vh;
    width: 100%;
    background-color: white;
    border-radius: 1.3386880856760375vh;
    position: relative;
    /* Add position relative */
    display: inline-block;
    text-align: center;
    /* Center-align its children horizontally */
}

#fileInput {
    display: none;
}

img {
    height: 100%;
    width: 100%;
    object-fit:cover;
}

#icon {
    margin: 2.0080321285140563vh;
    border-radius: 2px;
    color: #FFAD30;
    cursor: pointer;
    position: absolute;
    top: 1.3386880856760375vh;
    right: 1.3386880856760375vh;
    z-index: 2;
   
}

.centered-text {
    display: flex;
    align-items: center;
    /* Vertically center the text */
    justify-content: center;
    /* Horizontally center the text */
    height: 100%;
    /* Take the full height of the container */
}

input[type="text"] {
    height: 5.35475234270415vh;
}

.margin-between {
    margin-bottom: 1.606425702811245vh;
}
.col-10,
.col-6,
.col-4 {
    margin-right: 1.2048192771084338vh;
}

.text {
    color: var(--neutral-90, #303030);
    text-align: center;
    
    /* Poppins/label/regular */
    font-family: Poppins;
    font-size:  1.8741633199464525vh;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 19.6px */
}
.button-add{
    background-color: #f5f5f5;
    display: inline-flex;
    height: 5.35475234270415vh;
    justify-content: left;
    align-items: center;
    color: var(--neutral-90, #303030);
    /* Poppins/paragraph/bold */
    font-family: Poppins;
    font-size: 2.14190093708166vh;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 22.4px */
    border:0px;
  }