<form [formGroup]="dataForm" class="small-padding-top" (ngSubmit)="onSubmit()">
    <div class="img-container">
        <ng-container *ngIf="selectedImageUrl">
            <img [src]="selectedImageUrl" alt="">
        </ng-container>
        <ng-container *ngIf="!selectedImageUrl">
            <div class="centered-text" *ngIf="!selectedImageUrl">
                <p class="bold-medium-font">Select An Image</p>
            </div>
        </ng-container>
        <label for="fileInput">
            <mat-icon svgIcon="pen" id="icon"></mat-icon>
        </label>
        <input id="fileInput" accept="image/*" (change)="onFileSelected($event)" type="file">
    </div>
    
    <div class="small-padding-top">
        <div class="row ">
            <input class="text" type="text" class="col-12 margin-between text" placeholder="Title" formControlName="title">
        </div>
        <div class="row ">
            <input type="text" class="col-12 text" placeholder="Cook Time (minutes)" formControlName="cookTime">
        </div>
    </div>
    <div class="small-padding-top">
        <p class="bold-medium-font margin-between">Ingredients</p>
        <ng-container formArrayName="ingredients" *ngFor="let ingredient of ingredientsControls;let i=index">
            <div class="row align-items-center ">
                <ng-container [formGroupName]="i">
                    <input type="text" formControlName="name" class="col-6 margin-between text" placeholder="Item name">
                    <input type="text" formControlName="quantity" class="col-4 margin-between text" placeholder="Quantity">
                    <span class=" col-1 margin-between">
                        <mat-icon svgIcon="delete" (click)="deleteIngredient(i)"></mat-icon>
                    </span>
                </ng-container>
            </div>
        </ng-container>
        <div class="row">
            <button class="button-add col-12" (click)="addIngredient()">+ Add new Ingredient</button>
        </div>
    </div>
    <div class="small-padding-top">
        <p class="bold-medium-font margin-between">Steps</p>
        <ng-container formArrayName="steps" *ngFor="let step of stepControls;let i=index">
            <div class="row align-items-center">
                    <input type="text" [formControlName]="i" class="col-10 margin-between text" placeholder="Step {{i+1}}" >
                    <p class=" col-1  text-end">
                        <mat-icon svgIcon="delete" (click)="deleteStep(i)"></mat-icon>
                    </p>
            </div>
        </ng-container>
        <div class="row">
            <button class="button-add col-12" (click)="addStep()">+ Add new Step</button>
        </div>
    </div>
    <div class="row">
        <button class="button-medium margin-top" type="submit">Add Recipe</button>
    </div>
</form>
