.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 2vw;
    margin-left: 4vw;
    margin-bottom: 20px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.add-review{
    display: flex;
    flex-direction: column;

}
input[type="text"] {
    height: 4vh;
    border-radius: 10px;
}
.text {
    color: var(--neutral-90, #303030);
    text-align: center;
    /* Poppins/label/regular */
    font-family: Poppins-Regular;
    font-size: 1.5vh;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 19.6px */
  }
.button-add {
    background-color: #129575;
    color:white;
    display: inline-flex;
    height: 4vh;
    justify-content: left;
    align-items: center;
    /* Poppins/paragraph/bold */
    font-family: Poppins-Bold;
    font-size: 1.5vh;
    font-style: normal;
    font-weight: 600;
    border: 0px;
    border-radius: 10px;
  }
.rating-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;

}
.mat-icon {
    transform: scale(0.9);
}
.rating-color {
    color: #ffc107;
}
.grey-color{
    color:grey;
}

.input-review{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
