/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';
.main-container {
  padding-left: 4.016064257028113vh;
  padding-right: 4.016064257028113vh;
  padding-bottom: 1.3386880856760375vh;
}

body {
  background-color: #f5f5f5;
}
input {
  border-radius: 1.3386880856760375vh;
  
  padding-left: 2.677376171352075vh;
  border: 1.5px solid var(--colour-styles-neutral-colour-gray-4, #d9d9d9);
  background: var(--colour-styles-neutral-colour-white, #fff);
}

.input {
  height: 10.843373493975903vh;
  flex-shrink: 0;
}
label {
  font-family: Poppins;
  font-size:  1.8741633199464525vh;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 5px;
  color: var(--colour-styles-label-colour, #121212);
}

.link {
  padding-left: 1.3386880856760375vh;
  padding-top: 2.677376171352075vh;
}

a {
  color: var(--colour-styles-secondary-colour-secondary-100, #ff9c00);
  
  text-align: center;
  font-family: Poppins;
  font-size: 1.4725568942436413vh;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-right: 0px;
}

.bold-title-font {
  font-family: Poppins;
  font-size: 4.016064257028113vh;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 0px;
}

.bold-medium-font {
  font-family: Poppins;
  font-size: 2.677376171352075vh;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 0px;
}
.secondary-small-text {
  color: var(--colour-styles-neutral-colour-gray-3, #a9a9a9);

  /* Text Style/Smaller Text/Regular */
  font-family: Poppins;
  font-size: 1.4725568942436413vh;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.regular-title-font {
  font-family: Poppins;
  font-size: 2.677376171352075vh;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: var(--colour-styles-label-colour, #121212);
}

.input-font {
  font-family: Poppins;
  font-size: 1.4725568942436413vh;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.button-auth {
  display: inline-flex;
  height:  8.032128514056225vh;
  margin-top: 5.35475234270415vh;
  padding: 2.4096385542168677vh 11.378848728246318vh;
  justify-content: center;
  align-items: center;
  gap: 1.4725568942436413vh;
  border-radius: 1.3386880856760375vh;
  background: var(--colour-styles-primary-colour-primary-100, #129575);
  font-family: Poppins;
  font-size: 2.4096385542168677vh;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: var(--white-0, #fff);
  text-align: center;
}
.button-medium{
  display: inline-flex;
  height: 5.35475234270415vh;
  padding: 2.4096385542168677vh 11.378848728246318vh;
  justify-content: center;
  align-items: center;
  gap: 1.4725568942436413vh;
  border-radius: 1.3386880856760375vh;
  background: var(--colour-styles-primary-colour-primary-100, #129575);
  font-family: Poppins;
  font-size: 2.4096385542168677vh;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: var(--white-0, #fff);
  text-align: center;
}
.buttom-medium:hover{
  opacity: 0.8;
}
.button-auth:hover {
  opacity: 0.8;
}
.separator {
  width: 26.104417670682732vh;
  height: 2.2757697456492636vh;
  flex-shrink: 0;
}
.separator-text {
  color: var(--colour-styles-neutral-colour-gray-4, #d9d9d9);
  color: var(--colour-styles-label-colour, #121212);
  /* Text Style/Smaller Text/Semi Bold */
  font-family: Poppins;
  font-size: 1.4725568942436413vh;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.line {
  height: 1px;
  background: var(--colour-styles-neutral-colour-gray-4, #d9d9d9);
  background: var(--colour-styles-label-colour, #121212);
}
.icon {
  border-radius: 1.3386880856760375vh;
  background: var(--colour-styles-neutral-colour-white, #fff);
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.1);
}
.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}
.row {
  margin: 0px !important;
}


.highlight-color {
  color: var(--colour-styles-primary-colour-primary-100, #129575);
}
.white {
  color: white;
}
.filter-button {
  background-color: #129575;
  border-radius: 1.3386880856760375vh;
  color: white;
}
.padding-top {
  padding-top: 5vh;
}
.small-padding-top {
  padding-top: 2vh;
}
.margin-top {
  margin-top: 5vh;
}
.small-margin-top {
  margin-top: 2vh;
}
.filter-text {
  color: var(--colour-styles-neutral-colour-black, #000);

  /* Text Style/Small Text/Bold */
  font-family: Poppins;
  font-size: 2.14190093708166vh;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.rating-color{
  color:#FFAD30;
}
.padding{
  padding-bottom: 10vh;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
